% HH multilepton fit

% --------------- %
% ---  JOB    --- %
% --------------- %

Job: HHML_3lepton
  Label: HHML_3l
  %TexLabel: HHML~SR
  AtlasLabel: Internal
  CmeLabel: 13 TeV
  POI: mu_XS_hh
  %InputFolder: hhml/
  %InputName: HHML
  ReadFrom: NTUP
  NtuplePath: "/users/santoshp/scratch/last3lsyst/sysfw/run"
  #NtuplePath: "/publicfs/atlas/atlasnew/higgs/HHML/Slim_sys_prod/SlimSysNtups_Output/MergeNtuples/July_SYS_inclusive_r1"
  NtupleName: "nominal"
  LumiLabel: 139 fb^{-1}
  %Lumi: XXX_LUMI % in pb^-1 %LUMI IS ALREADY APPLIED 
  PlotOptions: YIELDS,NORMSIG %,CHI2
  DebugLevel: 9
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  MergeUnderOverFlow: TRUE
  ImageFormat: png,eps,%C
  MCstatThreshold: 0.01
  MCstatConstraint: Poisson
  GetChi2: TRUE 
  # StatOnly: TRUE
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  SystPruningShape: 0.01
  SystPruningNorm: 0.005
  %SystLarge: 1
  CorrelationThreshold: 0.05
  SystCategoryTables: TRUE
  RankingMaxNP: 15
  DoSummaryPlot: TRUE  
  SummaryPlotYmin: 0.05 
  DoTables: TRUE
  DoPieChartPlot: TRUE
  ReplacementFile: /users/santoshp/lastterex/TRExFitter/run/yuleihelp/now/replacement.txt
  #ReplacementFile: /eos/user/s/shxin/HHML/Combination_test/workspace_3l/replacement.txt
  #BlindSRs:TRUE

% --------------- %
% ----- FIT ----- %
% --------------- %

Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  #FitType: BOnly
  #FitRegion: CRONLY
  #FitBlind: TRUE
  # POIAsimov: 1
  UseMinos: "mu_XS_hh"
  %doLHscan: mu_XS_hh
  NumCPU: 30
  %GetGoodnessOfFit: TRUE	

% --------------- %
% ---- LIMIT ---- %
% --------------- %

Limit: limit
  LimitType: ASYMPTOTIC
  #LimitBlind: TRUE
  %SignalInjection: TRUE
  %SignalInjectionValue: XXX

% --------------- %
% POI FLOAT NORMS %
% --------------- %

NormFactor: mu_XS_hh
  Title: "#mu (hh)"
  Min: XXX_MU_XS_HH_MIN
  Max: XXX_MU_XS_HH_MAX
  Nominal: 1
  Samples: HH
  Constant: FALSE

% --------------- %
% LUMINOSITY SYST %
% --------------- %

Systematic: ATLAS_LUMI_Run2
  Title: Luminosity
  Type: OVERALL
  OverallUp: 0.017
  OverallDown: -0.017
  Category: Instrumental


% --------------- %
% --- REGIONS --- %
% --------------- %

Region: hh_3l_BDT
  Type: SIGNAL
  Label: 3\ell\,\,\mathrm{SR}
  Variable: "BDTOutput_3l", 10, 0.22, 1.
  VariableTitle: "BDT output"
  Selection: XXX_3L_SELECTION
  MCweight: XXX_3L_MCWEIGHT
  #Binning: AutoBin,TransfoD,2,2
  YmaxScale: 3

Region: ExtConv_e
  Type: CONTROL
  Label: "ExtConv_e CR"
  Variable: 1,1,0,1
  VariableTitle: "Events"
  Selection: "CR3Lep == 0 && is3Lep"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: HF_e
  Type: CONTROL
  Label: "HF_e CR"
  Variable: DRl0l1,4,0,4
  VariableTitle: "\Delta R_{l_{0}l_{1}}"
  Selection: "CR3Lep == 1 && is3Lep"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: HF_m
  Type: CONTROL
  Label: "HF_m CR"
  Variable: nJets_OR,3,2,5
  VariableTitle: "nJets"
  Selection: "CR3Lep == 2 && is3Lep"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: WZ
  Type: CONTROL
  Label: "WZ CR"
  Variable: nJets_OR,5,1,6
  VariableTitle: "nJets"
  Selection: "(CR3Lep == 3) && (nJets_OR > 0)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: BDTG_VR
  Type: VALIDATION
  Label: 3\ell\,\,\mathrm{VR}
  Variable: BDTOutput_3l, 8, -1, 0.22
  VariableTitle: "MVA score"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: nJets_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: nJets_OR,4,1,5
  VariableTitle: "nJets"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: FlaveCat_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: "FlavorCat", 10, 0, 10
  VariableTitle: "Flavor Category"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: MET_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: MET/1e3,8,0,200
  VariableTitle: "MET"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT


Region: DRll01_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: DRl0l1,4,0,4
  VariableTitle: "DRll01"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT


Region: DRlep1lep2_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: DRlep1lep2,4,0,4
  VariableTitle: "DRll12"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT



Region: DRlep2CloseJ_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: DRlep2CloseJ,4,0,4
  VariableTitle: "DRlep2CloseJ"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT


Region: Mlep0lep1_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: Mlep0lep1,8,0,200
  VariableTitle: "Mll01"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT



Region: Mlep1lep2_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: Mlep1lep2,8,0,400
  VariableTitle: "Mll12"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT


Region: Mlep0lep2_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: Mlep0lep2,10,0,400
  VariableTitle: "Mll02"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT


Region: Mlep012LjSLj_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: Mlep012LjSLj,10,0,900
  VariableTitle: "Mlep012LjSLj"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT


Region: Mlep012_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: Mlep012,10,0,700
  VariableTitle: "Mll012"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: HT_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: HT/1e3,10,0,900
  VariableTitle: "HT"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

Region: best_Z_Mll_VR
  Label: 3\ell\,\,\mathrm{VR}
  Type: VALIDATION
  Variable: best_Z_Mll/1e3,8,0,200
  VariableTitle: "best_Z_Mll"
  Selection: "SR3Lep > 0 && (BDTOutput_3l <= 0.22)"
  YmaxScale: 3
  MCweight: XXX_3L_MCWEIGHT

% --------------- %
% - DATA SAMPLE - %
% --------------- %

Sample: Data
  Title: Data
  Type: DATA
  NtupleFiles: XXX_data_samples

% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: HH
  Type: SIGNAL
  Title: "HH"
  FillColor: 4
  LineColor: 4
  NtupleFiles: XXX_HH_Pythia8_k1_samples 
  Selection: "Sample3Lep != 0"
  
Sample: ttZ
  Type: BACKGROUND
  Title: "t#bar{t}Z"
  TexTitle: $t\bar{t}Z$
  FillColor: 3
  LineColor: 1
  NtupleFiles: XXX_ttZ_samples
  Group: Other
  Selection: "Sample3Lep != 0"

Sample: ttH
  Type: BACKGROUND
  Title: "t#bar{t}H"
  TexTitle: $t\bar{t}H$
  FillColor: 619
  LineColor: 1
  NtupleFiles: XXX_ttH_samples
  Group: Other
  Selection: "Sample3Lep != 0"
  
Sample: VV
  Type: BACKGROUND
  Title: "VV"
  FillColor: 612
  LineColor: 1
  NtupleFiles: XXX_VV_samples
  Group: Other
  Selection: "Sample3Lep != 0"

Sample: WZ
  Type: BACKGROUND
  Title: "WZ"
  FillColor: 900
  LineColor: 1
  NtupleFiles: XXX_WZ_samples
  Selection: "Sample3Lep != 0"
  
Sample: ttW
  Type: BACKGROUND
  Title: "t#bar{t}W"
  TexTitle: $t\bar{t}W$
  Group: Other
  FillColor: 920
  LineColor: 1
  NtupleFiles: XXX_ttw_samples
  Selection: "Sample3Lep != 0"
  
Sample: tZ
  Type: BACKGROUND
  Title: "tZ"
  TexTitle: $tZ$
  FillColor: 920
  LineColor: 1
  NtupleFiles: XXX_tZ_samples
  Group: Other
  Selection: "Sample3Lep != 0"
  
Sample: WtZ
  Type: BACKGROUND
  Title: "tWZ"
  TexTitle: $tWZ$
  FillColor: 920
  LineColor: 1
  NtupleFiles: XXX_tWZ_samples
  Group: Other
  Selection: "Sample3Lep != 0"
  
Sample: ttWW
  Type: BACKGROUND
  Title: "ttWW"
  TexTitle: $ttWW$
  Group: Other
  FillColor: 920
  LineColor: 1
  NtupleFiles: XXX_ttWW_samples
  Group: Other
  Selection: "Sample3Lep != 0"
  
Sample: rareTop
  Type: BACKGROUND
  Title: "rare top"
  TexTitle: $rare top$
  Group: Other
  FillColor: 920
  LineColor: 1
  NtupleFiles: XXX_RareTop_samples
  Selection: "Sample3Lep != 0"
  
Sample: VVV
  Type: BACKGROUND
  Title: "VVV"
  TexTitle: $VVV$
  FillColor: 920
  LineColor: 1
  NtupleFiles: XXX_VVV_samples
  Group: Other
  Selection: "Sample3Lep != 0"

Sample: stop
  Type: BACKGROUND
  Title: "stop"
  TexTitle: $stop$
  FillColor: 672
  LineColor: 1
  NtupleFiles: XXX_stop_samples
  Group: Other
  Selection: "Sample3Lep != 0"
  
Sample: VH
  Type: BACKGROUND
  Title: "VH"
  TexTitle: $VH$
  FillColor: 806
  LineColor: 1
  NtupleFiles: XXX_vH_samples
  Group: Other
  Selection: "Sample3Lep != 0"


Sample: IntConv_e
  Type: BACKGROUND
  Title: "IntConv_e"
  FillColor: 851
  LineColor: 1
  NtupleFiles: XXX_Vgamma_samples, XXX_ttbar_samples, XXX_Zjets_samples, XXX_DY_samples, XXX_Wjets_samples
  Selection: "(Sample3Lep == 2) && (Sample3Lep != 0)"

Sample: ExtConv_e
  Type: BACKGROUND
  Title: "ExtConv_e"
  FillColor: 591
  LineColor: 1
  NtupleFiles: XXX_Vgamma_samples, XXX_ttbar_samples, XXX_Zjets_samples, XXX_DY_samples, XXX_Wjets_samples
  Selection: "(Sample3Lep == 1) && (Sample3Lep != 0)"

Sample: HF_e
  Type: BACKGROUND
  Title: "HF_e"
  FillColor: 5
  LineColor: 1
  NtupleFiles: XXX_Vgamma_samples, XXX_ttbar_samples, XXX_Zjets_samples, XXX_DY_samples, XXX_Wjets_samples
  Selection: "(Sample3Lep == 3 || Sample3Lep == 5) && (Sample3Lep != 0)"

Sample: HF_m
  Type: BACKGROUND
  Title: "HF_m"
  FillColor: 619 
  LineColor: 1
  NtupleFiles: XXX_Vgamma_samples, XXX_ttbar_samples, XXX_Zjets_samples, XXX_DY_samples, XXX_Wjets_samples
  Selection: "(Sample3Lep == 4 || Sample3Lep == 6) && (Sample3Lep != 0)"

Sample: QMisID
  Type: BACKGROUND
  Title: "QmisID"
  FillColor: 7
  LineColor: 1
  NtupleFiles: XXX_All_samples 
  Selection: "(Sample3Lep == 0)"


% ----------------- %
% -- NORMFACTORS -- %
% ----------------- %
% NORM FACTORS TO FLOAT
% NORMFACTORS OF TEMPLATE FIT??
% FLOATING ttV/VV??

NormFactor: NF_ExtConv_e
  Title: "#mu_{ExtConv}^{e}"
  Samples: ExtConv_e
  Nominal: 1.
  Min: 0.
  Max: 5.
  # Constant:TRUE

NormFactor: NF_HF_e
  Title: "#mu_{HF}^{e}"
  Samples: HF_e
  Nominal: 1.
  Min: 0.
  Max: 5.
  # Constant:TRUE

NormFactor: NF_HF_m
  Title: "#mu_{HF}^{#mu}"
  Samples: HF_m
  Nominal: 1.
  Min: 0.
  Max: 5.
  # Constant:TRUE

NormFactor: NF_WZ
  Title: "#mu_{WZ}"
  Samples: WZ
  Nominal: 1.
  Min: 0.
  Max: 5.
  # Constant:TRUE
  Exclude: ExtConv_e,HF_e,HF_m


% ---------------------- %
% -- FAKE SYSTEMATICS -- %
% ---------------------- %
% All the fake ralated uncertaintes in each channel

Systematic: "TF_conv"
  Title: "Syst_TF_conv"
  Type: OVERALL
  # Symmetrisation: ONESIDED
  Samples: ExtConv_e
  OverallUp: 0.226
  OverallDown: -0.226
  Category: Fakes
  Smoothing: 40
  SubCategory: "Template Fit"


Systematic: "TF_HF_e"
  Title: "Syst_TF_HF_e"
  Type: OVERALL
  # Symmetrisation: ONESIDED
  Samples: HF_e
  OverallUp: 0.028
  OverallDown: -0.028
  Category: Fakes
  Smoothing: 40
  SubCategory: "Template Fit"


Systematic: "TF_HF_m"
  Title: "Syst_TF_HF_m"
  Type: OVERALL
  # Symmetrisation: ONESIDED
  Samples: HF_m
  OverallUp: 0.154
  OverallDown: -0.154
  Category: Fakes
  Smoothing: 40
  SubCategory: "Template Fit"



% ------------ %
% -- THEORY -- %
% ------------ %

% -- HH -- %

% --- PILEUP --- %

Systematic: ATLAS_PU_PRW_DATASF
  Title: ATLAS_PU_PRW_DATASF
  Type: HISTO
  WeightSufUp: weight_pileup_UP/weight_pileup
  WeightSufDown: weight_pileup_DOWN/weight_pileup
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Exclude: XXX_EXCLUDE_DATA_DRIVEN
  Category: Instrumental

% --- JVT --- %

Systematic: ATLAS_JET_JvtEfficiency
  Title: ATLAS_JET_JvtEfficiency
  Type: HISTO
  WeightSufUp: jvtSF_customOR__1up
  WeightSufDown: jvtSF_customOR__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

% --- MUON SCALE FACTORS --- %

Systematic: ATLAS_MUON_EFF_TTVA_STAT
  Title:    ATLAS_MUON_EFF_TTVA_STAT
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_TTVA_STAT_UP_AT
  WeightSufDown: lepSF_SF_Mu_TTVA_STAT_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_TTVA_SYS
  Title:    ATLAS_MUON_EFF_TTVA_SYS
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_TTVA_SYST_UP_AT
  WeightSufDown: lepSF_SF_Mu_TTVA_SYST_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_ID_STAT
  Title:    ATLAS_MUON_EFF_ID_STAT
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_ID_Medium_STAT_UP_AT
  WeightSufDown: lepSF_SF_Mu_ID_Medium_STAT_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_ID_SYS
  Title:    ATLAS_MUON_EFF_ID_SYS
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_ID_Medium_SYST_UP_AT
  WeightSufDown: lepSF_SF_Mu_ID_Medium_SYST_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_ISO_STAT
  Title:    ATLAS_MUON_EFF_ISO_STAT
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_Iso_FCLoose_STAT_UP_AT
  WeightSufDown: lepSF_SF_Mu_Iso_FCLoose_STAT_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_ISO_SYS
  Title:    ATLAS_MUON_EFF_ISO_SYS
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_Iso_FCLoose_SYST_UP_AT
  WeightSufDown: lepSF_SF_Mu_Iso_FCLoose_SYST_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_PLVLOOSE_ISO_STAT
  Title: ATLAS_MUON_EFF_PLVLOOSE_ISO_STAT
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_PLVLoose_STAT_UP_AT
  WeightSufDown: lepSF_SF_Mu_PLVLoose_STAT_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_PLVLOOSE_ISO_SYS
  Title: ATLAS_MUON_EFF_PLVLOOSE_ISO_SYS
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_PLVLoose_SYST_UP_AT
  WeightSufDown: lepSF_SF_Mu_PLVLoose_SYST_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_PLVTIGHT_ISO_STAT
  Title: ATLAS_MUON_EFF_PLVTIGHT_ISO_STAT
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_PLVTight_STAT_UP_AT
  WeightSufDown: lepSF_SF_Mu_PLVTight_STAT_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_PLVTIGHT_ISO_SYS
  Title: ATLAS_MUON_EFF_PLVTIGHT_ISO_SYS
  Type: HISTO
  WeightSufUp: lepSF_SF_Mu_PLVTight_SYST_UP_AT
  WeightSufDown: lepSF_SF_Mu_PLVTight_SYST_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_TrigStatUncertainty
  Title:    ATLAS_MUON_EFF_TrigStatUncertainty
  Type: HISTO
  WeightSufUp: custTrigSF_TightElMediumMuID_FCLooseIso_SLTorDLT_MUON_EFF_TrigStatUncertainty__1up
  WeightSufDown: custTrigSF_TightElMediumMuID_FCLooseIso_SLTorDLT_MUON_EFF_TrigStatUncertainty__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_MUON_EFF_TrigSystUncertainty
  Title:    ATLAS_MUON_EFF_TrigSystUncertainty
  Type: HISTO
  WeightSufUp: custTrigSF_TightElMediumMuID_FCLooseIso_SLTorDLT_MUON_EFF_TrigSystUncertainty__1up
  WeightSufDown: custTrigSF_TightElMediumMuID_FCLooseIso_SLTorDLT_MUON_EFF_TrigSystUncertainty__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

% --- ELECTRON SCALE FACTORS --- %

Systematic: ATLAS_EL_EFF_RECO
  Title:    ATLAS_EL_EFF_RECO
  Type: HISTO
  WeightSufUp: lepSF_SF_El_Reco_UP_AT
  WeightSufDown: lepSF_SF_El_Reco_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_EL_EFF_ID
  Title:    ATLAS_EL_EFF_ID
  Type: HISTO
  WeightSufUp: lepSF_SF_El_ID_TightLH_UP_AT
  WeightSufDown: lepSF_SF_El_ID_TightLH_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_EL_EFF_ISO
  Title:    ATLAS_EL_EFF_ISO
  Type: HISTO
  WeightSufUp: lepSF_SF_El_Iso_FCLoose_UP_AT
  WeightSufDown: lepSF_SF_El_Iso_FCLoose_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_EL_EFF_PLVLOOSE_ISO
  Title: ATLAS_EL_EFF_PLVLOOSE_ISO
  Type: HISTO
  WeightSufUp: lepSF_SF_El_PLVLoose_UP_AT
  WeightSufDown: lepSF_SF_El_PLVLoose_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_EL_EFF_PLVTIGHT_ISO
  Title:    ATLAS_EL_EFF_PLVTIGHT_ISO
  Type: HISTO
  WeightSufUp: lepSF_SF_El_PLVTight_UP_AT
  WeightSufDown: lepSF_SF_El_PLVTight_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  %Regions:  hh_2l_BDT, hh_2l_VV_BDT, hh_2l_tt_BDT, hh_2l_Vjets_BDT, hh_3l_BDT
  Category: Instrumental

Systematic: ATLAS_EL_EFF_CHARGEMISID_STAT
  Title:    ATLAS_EL_EFF_CHARGEMISID_STAT
  Type: HISTO
  WeightSufUp: lepSF_SF_El_ChargeMisID_TightLH_FCLoose_STAT_UP_AT
  WeightSufDown: lepSF_SF_El_ChargeMisID_TightLH_FCLoose_STAT_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  %Regions:  hh_2l_BDT, hh_2l_VV_BDT, hh_2l_tt_BDT, hh_2l_Vjets_BDT, hh_2l1tau_BDT
  Category: Instrumental

Systematic: ATLAS_EL_EFF_CHARGEMISID_SYS
  Title:    ATLAS_EL_EFF_CHARGEMISID_SYS
  Type: HISTO
  WeightSufUp: lepSF_SF_El_ChargeMisID_TightLH_FCLoose_SYST_UP_AT
  WeightSufDown: lepSF_SF_El_ChargeMisID_TightLH_FCLoose_SYST_DOWN_AT
  Smoothing: XXX_SMOOTHING_EXP_SYS
  %Regions:  hh_2l_BDT, hh_2l_VV_BDT, hh_2l_tt_BDT, hh_2l_Vjets_BDT, hh_2l1tau_BDT
  Category: Instrumental

Systematic: ATLAS_EL_SF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR
  Title:    ATLAS_EL_SF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR
  Type: HISTO
  Symmetrisation: TWOSIDED
  WeightSufUp: custTrigSF_TightElMediumMuID_FCLooseIso_SLTorDLT_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR__1up
  WeightSufDown: custTrigSF_TightElMediumMuID_FCLooseIso_SLTorDLT_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

% --- TAU SCALE FACTORS --- %

  % --- JET FLAVOR TAGGING --- %

Systematic: ATLAS_FT_EFF_Eigen_B_0
  Title:    ATLAS_FT_EFF_Eigen_B_0
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_0__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_0__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental



Systematic: ATLAS_FT_EFF_Eigen_B_1
  Title:    ATLAS_FT_EFF_Eigen_B_1
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_1__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_1__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental



Systematic: ATLAS_FT_EFF_Eigen_B_2
  Title:    ATLAS_FT_EFF_Eigen_B_2
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_2__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_2__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental



Systematic: ATLAS_FT_EFF_Eigen_B_3
  Title:    ATLAS_FT_EFF_Eigen_B_3
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_3__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_3__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental



Systematic: ATLAS_FT_EFF_Eigen_B_4
  Title:    ATLAS_FT_EFF_Eigen_B_4
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_4__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_4__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental



Systematic: ATLAS_FT_EFF_Eigen_B_5
  Title:    ATLAS_FT_EFF_Eigen_B_5
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_5__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_5__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental


Systematic: ATLAS_FT_EFF_Eigen_B_6
  Title:    ATLAS_FT_EFF_Eigen_B_6
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_6__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_6__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental



Systematic: ATLAS_FT_EFF_Eigen_B_7
  Title:    ATLAS_FT_EFF_Eigen_B_7
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_7__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_7__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental


Systematic: ATLAS_FT_EFF_Eigen_B_8
  Title:    ATLAS_FT_EFF_Eigen_B_8
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_8__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_B_8__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental


Systematic: ATLAS_FT_EFF_Eigen_C_0
  Title:    ATLAS_FT_EFF_Eigen_C_0
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_0__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_0__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_FT_EFF_Eigen_C_1
  Title:    ATLAS_FT_EFF_Eigen_C_1
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_1__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_1__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_FT_EFF_Eigen_C_2
  Title:    ATLAS_FT_EFF_Eigen_C_2
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_2__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_2__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_FT_EFF_Eigen_C_3
  Title:    ATLAS_FT_EFF_Eigen_C_3
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_3__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_C_3__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental


Systematic: ATLAS_FT_EFF_Eigen_Light_0
  Title:    ATLAS_FT_EFF_Eigen_Light_0
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_0__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_0__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental


Systematic: ATLAS_FT_EFF_Eigen_Light_1
  Title:    ATLAS_FT_EFF_Eigen_Light_1
  Type: HISTO
  WeightSufUp: bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_1__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_1__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental


Systematic: ATLAS_FT_EFF_Eigen_Light_2
  Title:    ATLAS_FT_EFF_Eigen_Light_2
  Type: HISTO
  WeightSufUp: bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_2__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_2__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_FT_EFF_Eigen_Light_3
  Title:    ATLAS_FT_EFF_Eigen_Light_3
  Type: HISTO
  WeightSufUp: bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_3__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_Eigen_Light_3__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental


Systematic: ATLAS_FT_EFF_extrapolation_from_charm
  Title:    ATLAS_FT_EFF_extrapolation_from_charm
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_extrapolation_from_charm__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_extrapolation_from_charm__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

Systematic: ATLAS_FT_EFF_extrapolation
  Title: ATLAS_FT_EFF_extrapolation
  Type: HISTO
  WeightSufUp:   bTagSF_weight_DL1r_77_FT_EFF_extrapolation__1up
  WeightSufDown: bTagSF_weight_DL1r_77_FT_EFF_extrapolation__1down
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Category: Instrumental

% --- JETS --- %

% --- JET ENERGY SCALE --- %

Systematic: ATLAS_JET_EffectiveNP_Detector1
  Title: ATLAS_JES_EffectiveNP_Detector1
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Detector1__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Detector1__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Detector2
  Title: ATLAS_JES_EffectiveNP_Detector2
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Detector2__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Detector2__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Mixed1
  Title:    ATLAS_JES_EffectiveNP_Mixed1
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Mixed1__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Mixed1__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Mixed2
  Title:    ATLAS_JES_EffectiveNP_Mixed2
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Mixed2__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Mixed2__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Mixed3
  Title:    ATLAS_JES_EffectiveNP_Mixed3
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Mixed3__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Mixed3__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Modelling1
  Title:    ATLAS_JES_EffectiveNP_Modelling1
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Modelling1__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Modelling1__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Modelling2
  Title:    ATLAS_JES_EffectiveNP_Modelling2
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Modelling2__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Modelling2__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Modelling3
  Title:    ATLAS_JES_EffectiveNP_Modelling3
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Modelling3__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Modelling3__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Modelling4
  Title:    ATLAS_JES_EffectiveNP_Modelling4
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Modelling4__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Modelling4__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Statistical1
  Title:    ATLAS_JES_EffectiveNP_Statistical1
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Statistical1__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Statistical1__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Statistical2
  Title:    ATLAS_JES_EffectiveNP_Statistical2
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Statistical2__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Statistical2__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Statistical3
  Title:    ATLAS_JES_EffectiveNP_Statistical3
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Statistical3__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Statistical3__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Statistical4
  Title:    ATLAS_JES_EffectiveNP_Statistical4
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Statistical4__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Statistical4__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Statistical5
  Title:    ATLAS_JES_EffectiveNP_Statistical5
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Statistical5__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Statistical5__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EffectiveNP_Statistical6
  Title:    ATLAS_JES_EffectiveNP_Statistical6
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EffectiveNP_Statistical6__1up
  NtupleNameDown: CategoryReduction_JET_EffectiveNP_Statistical6__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EtaIntercalibration_Modelling
  Title:    ATLAS_JET_EtaIntercalibration_Modelling
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EtaIntercalibration_Modelling__1up
  NtupleNameDown: CategoryReduction_JET_EtaIntercalibration_Modelling__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EtaIntercalibration_TotalStat
  Title:    ATLAS_JET_EtaIntercalibration_TotalStat
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EtaIntercalibration_TotalStat__1up
  NtupleNameDown: CategoryReduction_JET_EtaIntercalibration_TotalStat__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EtaIntercalibration_NonClosure_highE
  Title:    ATLAS_JET_EtaIntercalibration_NonClosure_highE
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EtaIntercalibration_NonClosure_highE__1up
  NtupleNameDown: CategoryReduction_JET_EtaIntercalibration_NonClosure_highE__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EtaIntercalibration_NonClosure_negEta
  Title:    ATLAS_JET_EtaIntercalibration_NonClosure_negEta
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EtaIntercalibration_NonClosure_negEta__1up
  NtupleNameDown: CategoryReduction_JET_EtaIntercalibration_NonClosure_negEta__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EtaIntercalibration_NonClosure_posEta
  Title:    ATLAS_JET_EtaIntercalibration_NonClosure_posEta
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EtaIntercalibration_NonClosure_posEta__1up
  NtupleNameDown: CategoryReduction_JET_EtaIntercalibration_NonClosure_posEta__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_EtaIntercalibration_NonClosure_2018data
  Title:    ATLAS_JET_EtaIntercalibration_NonClosure_2018data
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_EtaIntercalibration_NonClosure_2018data__1up
  NtupleNameDown: CategoryReduction_JET_EtaIntercalibration_NonClosure_2018data__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_Pileup_OffsetMu
  Title:    ATLAS_JET_Pileup_OffsetMu
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_Pileup_OffsetMu__1up
  NtupleNameDown: CategoryReduction_JET_Pileup_OffsetMu__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_Pileup_OffsetNPV
  Title:    ATLAS_JET_Pileup_OffsetNPV
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_Pileup_OffsetNPV__1up
  NtupleNameDown: CategoryReduction_JET_Pileup_OffsetNPV__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_Pileup_PtTerm
  Title:    ATLAS_JET_Pileup_PtTerm
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_Pileup_PtTerm__1up
  NtupleNameDown: CategoryReduction_JET_Pileup_PtTerm__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_Pileup_RhoTopology
  Title:    ATLAS_JET_Pileup_RhoTopology
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_Pileup_RhoTopology__1up
  NtupleNameDown: CategoryReduction_JET_Pileup_RhoTopology__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_Flavor_Composition
  Title:    ATLAS_JET_Flavor_Composition
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_Flavor_Composition__1up
  NtupleNameDown: CategoryReduction_JET_Flavor_Composition__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_Flavor_Response
  Title:    ATLAS_JET_Flavor_Response
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_Flavor_Response__1up
  NtupleNameDown: CategoryReduction_JET_Flavor_Response__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_BJES_Response
  Title:    ATLAS_JET_BJES_Response
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_BJES_Response__1up
  NtupleNameDown: CategoryReduction_JET_BJES_Response__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_SingleParticle_HighPt
  Title:    ATLAS_JET_SingleParticle_HighPt
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_SingleParticle_HighPt__1up
  NtupleNameDown: CategoryReduction_JET_SingleParticle_HighPt__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_PunchThrough_MC16
  Title:    ATLAS_JET_PunchThrough_MC16
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_PunchThrough_MC16__1up
  NtupleNameDown: CategoryReduction_JET_PunchThrough_MC16__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

% --- JET ENERGY RESOLUTION --- %

Systematic: ATLAS_JET_JER_EffectiveNP_1
  Title:    ATLAS_JET_JER_EffectiveNP_1
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_1__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_1__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_2
  Title:    ATLAS_JET_JER_EffectiveNP_2
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_2__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_2__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_3
  Title:    ATLAS_JET_JER_EffectiveNP_3
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_3__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_3__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_4
  Title:    ATLAS_JET_JER_EffectiveNP_4
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_4__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_4__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_5
  Title:    ATLAS_JET_JER_EffectiveNP_5
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_5__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_5__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_6
  Title:    ATLAS_JET_JER_EffectiveNP_6
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_6__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_6__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_7
  Title:    ATLAS_JET_JER_EffectiveNP_7
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_7__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_7__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_8
  Title:    ATLAS_JET_JER_EffectiveNP_8
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_8__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_8__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_9
  Title:    ATLAS_JET_JER_EffectiveNP_9
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_9__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_9__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_10
  Title:    ATLAS_JET_JER_EffectiveNP_10
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_10__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_10__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_11
  Title:    ATLAS_JET_JER_EffectiveNP_11
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_11__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_11__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_EffectiveNP_12restTerm
  Title:    ATLAS_JET_JER_EffectiveNP_12restTerm
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_EffectiveNP_12restTerm__1up
  NtupleNameDown: CategoryReduction_JET_JER_EffectiveNP_12restTerm__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_JET_JER_DataVsMC_MC16
  Title:    ATLAS_JET_JER_DataVsMC_MC16
  Type: HISTO
  NtupleNameUp:   CategoryReduction_JET_JER_DataVsMC_MC16__1up
  NtupleNameDown: CategoryReduction_JET_JER_DataVsMC_MC16__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

% --- MUONS --- %

Systematic: ATLAS_MUON_ID
  Title:    ATLAS_MUON_ID
  Type: HISTO
  NtupleNameUp:   MUON_ID__1up
  NtupleNameDown: MUON_ID__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_MUON_MS
  Title:    ATLAS_MUON_MS
  Type: HISTO
  NtupleNameUp:   MUON_MS__1up
  NtupleNameDown: MUON_MS__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_MUON_SCALE
  Title:    ATLAS_MUON_SCALE
  Type: HISTO
  NtupleNameUp:   MUON_SCALE__1up
  NtupleNameDown: MUON_SCALE__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_MUON_SAGITTA_RHO
  Title:    ATLAS_MUON_SAGITTA_RHO
  Type: HISTO
  NtupleNameUp:   MUON_SAGITTA_RHO__1up
  NtupleNameDown: MUON_SAGITTA_RHO__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_MUON_SAGITTA_RESBIAS
  Title:    ATLAS_MUON_SAGITTA_RESBIAS
  Type: HISTO
  NtupleNameUp:   MUON_SAGITTA_RESBIAS__1up
  NtupleNameDown: MUON_SAGITTA_RESBIAS__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

% --- EGAMMA --- %

Systematic: ATLAS_EG_RESOLUTION_ALL
  Title:    ATLAS_EG_RESOLUTION_ALL
  Type: HISTO
  NtupleNameUp:   EG_RESOLUTION_ALL__1up
  NtupleNameDown: EG_RESOLUTION_ALL__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_EG_SCALE_ALL
  Title:    ATLAS_EG_SCALE_ALL
  Type: HISTO
  NtupleNameUp:   EG_SCALE_ALL__1up
  NtupleNameDown: EG_SCALE_ALL__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_EG_SCALE_AF2
  Title:    ATLAS_EG_SCALE_AF2
  Type: HISTO
  NtupleNameUp:   EG_SCALE_AF2__1up
  NtupleNameDown: EG_SCALE_AF2__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

% --- TAUS ENERGY SCALE --- %

Systematic: ATLAS_TAUS_TRUEHADTAU_SME_TES_INSITUEXP
  Title:    ATLAS_TAUS_TRUEHADTAU_SME_TES_INSITUEXP
  Type: HISTO
  NtupleNameUp:   TAUS_TRUEHADTAU_SME_TES_INSITUEXP__1up
  NtupleNameDown: TAUS_TRUEHADTAU_SME_TES_INSITUEXP__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_TAUS_TRUEHADTAU_SME_TES_INSITUFIT
  Title:    ATLAS_TAUS_TRUEHADTAU_SME_TES_INSITUFIT
  Type: HISTO
  NtupleNameUp:   TAUS_TRUEHADTAU_SME_TES_INSITUFIT__1up
  NtupleNameDown: TAUS_TRUEHADTAU_SME_TES_INSITUFIT__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_TAUS_TRUEHADTAU_SME_TES_DETECTOR
  Title:    ATLAS_TAUS_TRUEHADTAU_SME_TES_DETECTOR
  Type: HISTO
  NtupleNameUp:   TAUS_TRUEHADTAU_SME_TES_DETECTOR__1up
  NtupleNameDown: TAUS_TRUEHADTAU_SME_TES_DETECTOR__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_TAUS_TRUEHADTAU_SME_TES_MODEL_CLOSURE
  Title:    ATLAS_TAUS_TRUEHADTAU_SME_TES_MODEL_CLOSURE
  Type: HISTO
  NtupleNameUp:   TAUS_TRUEHADTAU_SME_TES_MODEL_CLOSURE__1up
  NtupleNameDown: TAUS_TRUEHADTAU_SME_TES_MODEL_CLOSURE__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

Systematic: ATLAS_TAUS_TRUEHADTAU_SME_TES_PHYSICSLIST
  Title:    ATLAS_TAUS_TRUEHADTAU_SME_TES_PHYSICSLIST
  Type: HISTO
  NtupleNameUp:   TAUS_TRUEHADTAU_SME_TES_PHYSICSLIST__1up
  NtupleNameDown: TAUS_TRUEHADTAU_SME_TES_PHYSICSLIST__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

% --- MET --- %

Systematic: ATLAS_MET_SoftTrk_ResoPara
  Title:    ATLAS_MET_SoftTrk_ResoPara
  Type: HISTO
  NtupleNameUp:  MET_SoftTrk_ResoPara 
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Symmetrisation: ONESIDED
  

Systematic: ATLAS_MET_SoftTrk_ResoPerp
  Title:    ATLAS_MET_SoftTrk_ResoPerp
  Type: HISTO
  NtupleNameUp: MET_SoftTrk_ResoPerp
  Smoothing: XXX_SMOOTHING_EXP_SYS
  Symmetrisation: ONESIDED
  

Systematic: ATLAS_MET_SoftTrk_Scale
  Title:    ATLAS_MET_SoftTrk_Scale
  Type: HISTO
  NtupleNameUp:   MET_SoftTrk_Scale__1up
  NtupleNameDown: MET_SoftTrk_Scale__1down
  Symmetrisation: TWOSIDED
  Smoothing: XXX_SMOOTHING_EXP_SYS
  

